@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Mona-Sans";
  src: url("./fonts/MonaSans.woff2") format("woff2");
}

/* :root {
	
  --account-center-position-right:0px;
} */

@font-face {
  font-family: "Mona-Sans";
  src: url("./fonts/MonaSans.woff2") format("woff2");
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BABABA;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}